{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{   product.cateogry }} | {{ product.name }}
{#    {% if cateogry %}#}
{#        {{ cateogry.title }}#}
{#    {% else %}#}
{#        Products#}
{#    {% endif %}#}
{% endblock %}
{% block carousel %}
{% endblock %}

{% block content %}
    <div class ="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-sm-6 col-md-6 thumbnail">
                <img class="center-block" src="{% if product.image %}{{ product.image.url }}
                 {% else %}
                 {% static 'img/no_image.png' %}
                {% endif %}">
                
            </div>
            <div class="col-sm-6 col-md-6">
                <h1>{{ product.name }}</h1>
                <h2><a href="{{ product.cateogry.get_absolute_url }}">{{ product.cateogry }}</a></h2>
                <p class="lead">&#x20b9;{{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input class ="btn btn-primary" type="submit" value="Add to Cart">
                </form>
                {{ product.description|linebreaks }}
                
            </div>
        </div>
    </div>
{% endblock %}

<div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}
        {% else %}
        {% static 'img/no_image.png' %}
        {% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.cateogry.get_absolute_url }}">{{ product.cateogry }}</a></h2>
        <p class="price">&#x20b9;{{ product.price }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to Cart">
        </form>
        {{ product.description|linebreaks }}
    </div>