{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{   product.cateogry }} | {{ product.name }}
{#    {% if cateogry %}#}
{#        {{ cateogry.title }}#}
{#    {% else %}#}
{#        Products#}
{#    {% endif %}#}
{% endblock %}
{% block carousel %}
{% endblock %}

{% block content %}
    <div class ="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-sm-6 col-md-6 thumbnail">
                <img class="center-block" src="{% if product.image %}{{ product.image.url }}
                 {% else %}
                 {% static 'img/no_image.png' %}
                {% endif %}">

                    
                
            </div>
            <div class="col-sm-6 col-md-6">
                <h1>{{ product.name }}</h1>
                <p> 
                    <div>    
                    <div class="fb-share-button" data-href="{{ product.get_absolute_url }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ product.get_absolute_url|urlencode }}&amp;src=sdkpreparse">Share</a>


                    </div>
                    
                    
                    <div >
                      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    </div> 
                    <!-- Place this tag where you want the +1 button to render. -->
                
                </p>
                <h3><a href="{{ product.cateogry.get_absolute_url }}">{{ product.cateogry }}</a></h3>
                <p class="lead">Rs. {{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input class ="btn btn-danger" type="submit" value="Add to Cart">
                </form>
                {% for atts in product_attributes %}
                    {% if atts.weight %}
                        {{atts.weight}}
                    
                    {% endif %}
                    {% if atts.size %}
                        {{atts.size}}
                    
                    {% endif %}
                    {% if atts.waist_size %}
                        {{atts.waist_size}}
                    {% endif %}
                {% endfor %}
                {{ product.description|linebreaks }}
                
            </div>
        </div>
    </div>
{% endblock %}



