{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if cateogry %}
        {{ cateogry.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}


{% block content %}
<div class ="row " style="padding-top: 20px">
   <div class="col-sm-6 col-md-9">  
        <div class="row" >
            {% for product in products %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" >
                    <div><a href="{{ product.get_absolute_url }}">
                        <img class="center-block" src="{% if product.image %}{{ product.image.url }}
                                    {% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."
                                    style ="max-height:100px;" ></a>
                    </div> 
      <div class="caption text-center">
        <h3>{{ product.name }}</h3>
        <p> &#x20b9; {{ product.price }} </p>
        <p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">Add to cart</a></p>
      </div>
    </div>
  </div>
  {% endfor %}

  </div>
</div>

<div class="col-sm-6 col-md-3">
<p>testimonial</p>
</div>  
</div>  
{% endblock %}


