{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
   Pahal Store
{% endblock %}

{% block sidebar %}
{% include "shop/sidebar.html" %}
{% endblock sidebar %}

{% block carousel %}

{% include "shop/carousel.html" %}
  
{% endblock %}


{% block topseller %}
	<div class="row panel panel-primary" style="margin:15px;">
	<div class="panel-heading">
		<h3 class="panel-title">Top Sellers</h3>
	</div>
	<div class="row panel-body">
			{% for product in bakery_items|slice:":6" %}
				<div class="col-md-2 panel panel-default" style="background:#c9cdff; margin-bottom:-10px; margin-top:-10px; margin-right:5px; margin-left:5px; ">
					<a href="{{ product.get_absolute_url }}"><img class="center-block img-responsive" src="{% if product.image %}{{ product.image.url }}
	                                    {% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."
	                                    style ="max-height:100px;"></a>
	        <p class="text-center" style="padding-top:10px;"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
	        <p class="text-center" >
	        <span class="badge">Rs. {{ product.price }}</span>
	        </p>                            
				</div>
			{% endfor %}
		</div>
	</div>	
{% endblock topseller %}