{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
Testimonials
{% endblock %}

{% block content %}
<div class="col-sm-6 col-md-12">
{% for testimonial in testimonials %}

<div class="content">
    <div class="row">
        <div>
            <div class="testimonials">
              <div class="active item">
                  <blockquote><p>{{testimonial}}.</p></blockquote>
                  <div class="carousel-info">
                    
                    <div class="pull-right">
                      <span class="testimonials-name">{{testimonial.name}}</span>
                      
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>  
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
            
            <form action="." method="post" >
            {{ form|crispy }}
            <p><input class="btn btn-block btn-primary"type="submit" value="Post Testimonial"></p>
            {% csrf_token %}
            </form>
            </div>
            <div class="col-md-3">
            </div>
{% endblock %}