{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} My Shop
    {% endblock %}</title>
</head>
<body>
    <div id="header">
        <a href="/" class="logo">
            Pahal Store
        </a>
    </div>
    <div id="subheader">
        <div class="cart">
            Your cart is ready
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
